In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('final_data.xlsx')
df

,Unnamed: 0,Quality,Serve,Pack,Shipping,Other,rating,comment,Unnamed: 8
0,0.0,1.0,0.0,-1.0,0.0,0,3,Chất lượng sản phẩm:được\n\nĐóng gói ko cẩn th...,NaN
1,1.0,1.0,0.0,0.0,1.0,0,4,Đúng với mô tả:đúng\nChất lượng sản phẩm:oke\n...,NaN
2,2.0,0.0,0.0,0.0,1.0,0,5,Nhận hàng nhanh\nHàng như ảnh\n*hình ảnh và vi...,NaN
3,3.0,1.0,0.0,0.0,-1.0,0,4,"Mặc dù sản phẩm ổn, giá tốt nhưng chuẩn bị hàn...",NaN
4,4.0,1.0,0.0,0.0,-1.0,0,4,Chất liệu:lụa\nĐúng với mô tả:đúng\nMàu sắc:đe...,NaN
...,...,...,...,...,...,...,...,...,...
17211,NaN,NaN,NaN,NaN,NaN,NaN,5,-Ruột gối cao cấp lõi bông gòn đã qua xử lí \n...,1.0
17212,NaN,NaN,NaN,NaN,NaN,NaN,5,Chai Spray King (dung tích 400ml) có công dụng...,1.0
17213,NaN,NaN,NaN,NaN,NaN,NaN,5,Nước Giặt Ariel Túi là sản phẩm được nhiều ngư...,1.0
17214,NaN,NaN,NaN,NaN,NaN,NaN,5,Thời gian giao hàng dự kiến cho sản phẩm này l...,1.0
17215,NaN,NaN,NaN,NaN,NaN,NaN,5,Cáp Sạc Hoco X14 Chính Hãng Cho Điện Thoại IPa...,1.0

In [3]:
df.columns

Index(['Unnamed: 0', 'Quality', 'Serve', 'Pack', 'Shipping', 'Other', 'rating',
       'comment', 'Unnamed: 8'],
      dtype='object')

In [4]:
df.drop('Unnamed: 8', axis= 1, inplace= True)
df.fillna(0, inplace= True)

In [21]:
df.loc[15434:]['Other'].replace(0, 1, inplace= True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13228\3141007544.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[15434:]['Other'].replace(0, 1, inplace= True)

In [28]:
df.columns

Index(['Unnamed: 0', 'Quality', 'Serve', 'Pack', 'Shipping', 'Other', 'rating',
       'comment'],
      dtype='object')

In [29]:
df

,Unnamed: 0,Quality,Serve,Pack,Shipping,Other,rating,comment
0,0.0,1.0,0.0,-1.0,0.0,0,3,Chất lượng sản phẩm:được\n\nĐóng gói ko cẩn th...
1,1.0,1.0,0.0,0.0,1.0,0,4,Đúng với mô tả:đúng\nChất lượng sản phẩm:oke\n...
2,2.0,0.0,0.0,0.0,1.0,0,5,Nhận hàng nhanh\nHàng như ảnh\n*hình ảnh và vi...
3,3.0,1.0,0.0,0.0,-1.0,0,4,"Mặc dù sản phẩm ổn, giá tốt nhưng chuẩn bị hàn..."
4,4.0,1.0,0.0,0.0,-1.0,0,4,Chất liệu:lụa\nĐúng với mô tả:đúng\nMàu sắc:đe...
...,...,...,...,...,...,...,...,...
17211,0.0,0.0,0.0,0.0,0.0,1,5,-Ruột gối cao cấp lõi bông gòn đã qua xử lí \n...
17212,0.0,0.0,0.0,0.0,0.0,1,5,Chai Spray King (dung tích 400ml) có công dụng...
17213,0.0,0.0,0.0,0.0,0.0,1,5,Nước Giặt Ariel Túi là sản phẩm được nhiều ngư...
17214,0.0,0.0,0.0,0.0,0.0,1,5,Thời gian giao hàng dự kiến cho sản phẩm này l...
17215,0.0,0.0,0.0,0.0,0.0,1,5,Cáp Sạc Hoco X14 Chính Hãng Cho Điện Thoại IPa...

In [33]:
df.drop('Unnamed: 0', axis= 1, inplace= True)

In [35]:
df.to_excel('final_data.xlsx', index= False)

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [4]:
spark = SparkSession.builder.config("spark.driver.memory", "4g").getOrCreate()
df = spark.read.format('csv').option('header','true').load(r'C:\Users\ADMIN\PycharmProjects\Bigdata-1\Advertising.csv')

In [5]:
df.head(5)

[Row(TV='230.1', Radio='37.8', Newspaper='69.2', Sales='22.1'),
 Row(TV='44.5', Radio='39.3', Newspaper='45.1', Sales='10.4'),
 Row(TV='17.2', Radio='45.9', Newspaper='69.3', Sales='9.3'),
 Row(TV='151.5', Radio='41.3', Newspaper='58.5', Sales='18.5'),
 Row(TV='180.8', Radio='10.8', Newspaper='58.4', Sales='12.9')]

In [6]:
df.show(5)

+-----+-----+---------+-----+
|   TV|Radio|Newspaper|Sales|
+-----+-----+---------+-----+
|230.1| 37.8|     69.2| 22.1|
| 44.5| 39.3|     45.1| 10.4|
| 17.2| 45.9|     69.3|  9.3|
|151.5| 41.3|     58.5| 18.5|
|180.8| 10.8|     58.4| 12.9|
+-----+-----+---------+-----+
only showing top 5 rows

In [7]:
df.printSchema()

root
 |-- TV: string (nullable = true)
 |-- Radio: string (nullable = true)
 |-- Newspaper: string (nullable = true)
 |-- Sales: string (nullable = true)

In [8]:
df.select('TV', 'Radio', 'Newspaper').show(5)

+-----+-----+---------+
|   TV|Radio|Newspaper|
+-----+-----+---------+
|230.1| 37.8|     69.2|
| 44.5| 39.3|     45.1|
| 17.2| 45.9|     69.3|
|151.5| 41.3|     58.5|
|180.8| 10.8|     58.4|
+-----+-----+---------+
only showing top 5 rows

In [9]:
my_list = [['male', 1, None], 
           ['female', 2, 3],
           ['male', 3, 4]]

df1 = spark.createDataFrame(my_list, ['A', 'B', 'C'])
df1.show()

+------+---+----+
|     A|  B|   C|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

In [10]:
df1 = df1.fillna(0)

In [11]:
# Replace values
df1.na.replace(['male', 'female'], ['1', '0']).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  1|  1|  0|
|  0|  2|  3|
|  1|  3|  4|
+---+---+---+

In [12]:
# drop column
drop_name = ['A', 'B']
df1.drop(*(drop_name)).show()

+---+
|  C|
+---+
|  0|
|  3|
|  4|
+---+

In [13]:
# Filtering
df[df['Newspaper'] < 10].show(5)

+-----+-----+---------+-----+
|   TV|Radio|Newspaper|Sales|
+-----+-----+---------+-----+
|  8.6|  2.1|        1|  4.8|
|214.7|   24|        4| 17.4|
| 97.5|  7.6|      7.2|  9.7|
|265.6|   20|      0.3| 17.4|
| 95.7|  1.4|      7.4|  9.5|
+-----+-----+---------+-----+
only showing top 5 rows

In [14]:
# Multiple condition
df[(df['Newspaper'] < 20) & (df['TV'] > 100)].show(5)

+-----+-----+---------+-----+
|   TV|Radio|Newspaper|Sales|
+-----+-----+---------+-----+
|120.2| 19.6|     11.6| 13.2|
|214.7|   24|        4| 17.4|
|147.3| 23.9|     19.1| 14.6|
|262.9|  3.5|     19.5|   12|
|142.9| 29.3|     12.6|   15|
+-----+-----+---------+-----+
only showing top 5 rows

In [15]:
# Create a new column
df.withColumn('tv_norm', df['Tv'] / df.groupBy().agg(F.sum('TV')).collect()[0][0]).show(5)

+-----+-----+---------+-----+--------------------+
|   TV|Radio|Newspaper|Sales|             tv_norm|
+-----+-----+---------+-----+--------------------+
|230.1| 37.8|     69.2| 22.1|0.007824268493802813|
| 44.5| 39.3|     45.1| 10.4|0.001513167961643...|
| 17.2| 45.9|     69.3|  9.3|5.848649200061207E-4|
|151.5| 41.3|     58.5| 18.5|0.005151571824472517|
|180.8| 10.8|     58.4| 12.9|0.006147882414948061|
+-----+-----+---------+-----+--------------------+
only showing top 5 rows

In [16]:
# New column with conditions
df.withColumn('cond', F.when((df['Tv'] > 100) & (df['Radio'] < 40), 1).when(df['Sales'] > 10, 2).otherwise(3)).show(5)

+-----+-----+---------+-----+----+
|   TV|Radio|Newspaper|Sales|cond|
+-----+-----+---------+-----+----+
|230.1| 37.8|     69.2| 22.1|   1|
| 44.5| 39.3|     45.1| 10.4|   3|
| 17.2| 45.9|     69.3|  9.3|   3|
|151.5| 41.3|     58.5| 18.5|   2|
|180.8| 10.8|     58.4| 12.9|   1|
+-----+-----+---------+-----+----+
only showing top 5 rows

In [17]:
df.withColumn('log_TV', F.log(df['TV'])).show(5)

+-----+-----+---------+-----+------------------+
|   TV|Radio|Newspaper|Sales|            log_TV|
+-----+-----+---------+-----+------------------+
|230.1| 37.8|     69.2| 22.1|  5.43851399704132|
| 44.5| 39.3|     45.1| 10.4|3.7954891891721947|
| 17.2| 45.9|     69.3|  9.3|2.8449093838194073|
|151.5| 41.3|     58.5| 18.5| 5.020585624949424|
|180.8| 10.8|     58.4| 12.9|5.1973914479580765|
+-----+-----+---------+-----+------------------+
only showing top 5 rows

In [18]:
df.withColumn('TV+10', df['TV'] + 10).show(5)

+-----+-----+---------+-----+-----+
|   TV|Radio|Newspaper|Sales|TV+10|
+-----+-----+---------+-----+-----+
|230.1| 37.8|     69.2| 22.1|240.1|
| 44.5| 39.3|     45.1| 10.4| 54.5|
| 17.2| 45.9|     69.3|  9.3| 27.2|
|151.5| 41.3|     58.5| 18.5|161.5|
|180.8| 10.8|     58.4| 12.9|190.8|
+-----+-----+---------+-----+-----+
only showing top 5 rows

In [19]:
leftp = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
leftp

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [20]:
rightp = pd.DataFrame({'A': ['A0', 'A1', 'A6', 'A7'],
                       'F': ['B4', 'B5', 'B6', 'B7'],
                       'G': ['C4', 'C5', 'C6', 'C7'],
                       'H': ['D4', 'D5', 'D6', 'D7']},
                       index=[4, 5, 6, 7])
rightp

    A   F   G   H
4  A0  B4  C4  D4
5  A1  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [21]:
lefts = spark.createDataFrame(leftp)
rights = spark.createDataFrame(rightp)

In [22]:
# Left join 
lefts.join(rights, on= 'A', how= 'left').orderBy('A', ascending= True).show()

+---+---+---+---+----+----+----+
|  A|  B|  C|  D|   F|   G|   H|
+---+---+---+---+----+----+----+
| A0| B0| C0| D0|  B4|  C4|  D4|
| A1| B1| C1| D1|  B5|  C5|  D5|
| A2| B2| C2| D2|null|null|null|
| A3| B3| C3| D3|null|null|null|
+---+---+---+---+----+----+----+

In [23]:
# Right join 
lefts.join(rights, on= 'A', how= 'right').orderBy('A', ascending= True).show()

+---+----+----+----+---+---+---+
|  A|   B|   C|   D|  F|  G|  H|
+---+----+----+----+---+---+---+
| A0|  B0|  C0|  D0| B4| C4| D4|
| A1|  B1|  C1|  D1| B5| C5| D5|
| A6|null|null|null| B6| C6| D6|
| A7|null|null|null| B7| C7| D7|
+---+----+----+----+---+---+---+

In [24]:
# inner
lefts.join(rights, on= 'A', how= 'inner').orderBy('A', ascending= True).show()

+---+---+---+---+---+---+---+
|  A|  B|  C|  D|  F|  G|  H|
+---+---+---+---+---+---+---+
| A0| B0| C0| D0| B4| C4| D4|
| A1| B1| C1| D1| B5| C5| D5|
+---+---+---+---+---+---+---+

In [25]:
# full join
lefts.join(rights, on= 'A', how= 'full').orderBy('A', ascending= True).show()

+---+----+----+----+----+----+----+
|  A|   B|   C|   D|   F|   G|   H|
+---+----+----+----+----+----+----+
| A0|  B0|  C0|  D0|  B4|  C4|  D4|
| A1|  B1|  C1|  D1|  B5|  C5|  D5|
| A2|  B2|  C2|  D2|null|null|null|
| A3|  B3|  C3|  D3|null|null|null|
| A6|null|null|null|  B6|  C6|  D6|
| A7|null|null|null|  B7|  C7|  D7|
+---+----+----+----+----+----+----+

In [26]:
my_list = [('a', 2, 3),
           ('b', 5, 6),
           ('c', 8, 9),
           ('a', 2, 3),
           ('b', 5, 6),
           ('c', 8, 9)]
col_name = ['col1', 'col2', 'col3']
df = spark.createDataFrame(my_list,schema=col_name)
df.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
+----+----+----+

In [27]:
df.withColumn('concat', F.concat('col1', 'col2')).show()

+----+----+----+------+
|col1|col2|col3|concat|
+----+----+----+------+
|   a|   2|   3|    a2|
|   b|   5|   6|    b5|
|   c|   8|   9|    c8|
|   a|   2|   3|    a2|
|   b|   5|   6|    b5|
|   c|   8|   9|    c8|
+----+----+----+------+

In [28]:
df.groupby(['col1']).agg({'col2': 'min',
                          'col3': 'avg'}).show()

+----+---------+---------+
|col1|min(col2)|avg(col3)|
+----+---------+---------+
|   a|        2|      3.0|
|   b|        5|      6.0|
|   c|        8|      9.0|
+----+---------+---------+

In [29]:
df.groupby(['col1']).pivot('col2').sum('col3').show()

+----+----+----+----+
|col1|   2|   5|   8|
+----+----+----+----+
|   c|null|null|  18|
|   b|null|  12|null|
|   a|   6|null|null|
+----+----+----+----+

In [30]:
# window
d = {'A':['a','b','c','d'],'B':['m','m','n','n'],'C':[1,2,3,6]}
df = spark.createDataFrame(pd.DataFrame(d))
df.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  m|  1|
|  b|  m|  2|
|  c|  n|  3|
|  d|  n|  6|
+---+---+---+

In [31]:
from pyspark.sql.window import Window
import pyspark.sql.functions as F

# normal rank
w = Window.orderBy(df['C'].asc()) # desc()
df = df.withColumn('rank', F.rank().over(w))
df.show()

+---+---+---+----+
|  A|  B|  C|rank|
+---+---+---+----+
|  a|  m|  1|   1|
|  b|  m|  2|   2|
|  c|  n|  3|   3|
|  d|  n|  6|   4|
+---+---+---+----+

In [32]:
# Rank by partition
w = Window.partitionBy('B').orderBy(df['C'])
df = df.withColumn('rank', F.rank().over(w))
df.show()

+---+---+---+----+
|  A|  B|  C|rank|
+---+---+---+----+
|  a|  m|  1|   1|
|  b|  m|  2|   2|
|  c|  n|  3|   1|
|  d|  n|  6|   2|
+---+---+---+----+

In [33]:
# Rank and Dense_rank
d ={'Id':[1,2,3,4,5,6],
    'Score': [4.00, 4.00, 3.85, 3.65, 3.65, 3.50]}

df = spark.createDataFrame(pd.DataFrame(d))
df.show()

+---+-----+
| Id|Score|
+---+-----+
|  1|  4.0|
|  2|  4.0|
|  3| 3.85|
|  4| 3.65|
|  5| 3.65|
|  6|  3.5|
+---+-----+

In [34]:
w = Window.orderBy(df['Score'].desc())
df = df.withColumn('Rank_dense', F.dense_rank().over(w))
df = df.withColumn('Rank', F.rank().over(w))
df.show()

+---+-----+----------+----+
| Id|Score|Rank_dense|Rank|
+---+-----+----------+----+
|  1|  4.0|         1|   1|
|  2|  4.0|         1|   1|
|  3| 3.85|         2|   3|
|  4| 3.65|         3|   4|
|  5| 3.65|         3|   4|
|  6|  3.5|         4|   6|
+---+-----+----------+----+

In [39]:
df.select('*', F.rank().over(w).alias('rank_1')).filter(F.col('rank_1') <= 3).show()

+---+-----+----------+----+------+
| Id|Score|Rank_dense|Rank|rank_1|
+---+-----+----------+----+------+
|  1|  4.0|         1|   1|     1|
|  2|  4.0|         1|   1|     1|
|  3| 3.85|         2|   3|     3|
+---+-----+----------+----+------+

In [ ]:
stock_data = spark.read.csv(r"C:\Users\ADMIN\PycharmProjects\Bigdata-1\Stock_data.csv", header= True )
stock_data.show(5)

+--------+-----+-----+
|    Date|Stock|Price|
+--------+-----+-----+
|8/1/2022|  VNM|73500|
|8/2/2022|  VNM|73400|
|8/3/2022|  VNM|73400|
|8/4/2022|  VNM|73300|
|8/5/2022|  VNM|72600|
+--------+-----+-----+
only showing top 5 rows

In [ ]:
stock_data.select('Date').distinct().show()

+---------+
|     Date|
+---------+
| 8/9/2022|
| 8/2/2022|
| 8/4/2022|
|8/14/2022|
| 8/5/2022|
|8/12/2022|
|8/11/2022|
|8/10/2022|
| 8/3/2022|
|8/13/2022|
| 8/7/2022|
| 8/6/2022|
| 8/8/2022|
| 8/1/2022|
+---------+

In [ ]:
stock_data.select('Date').orderBy('Date').distinct().show()

+---------+
|     Date|
+---------+
| 8/9/2022|
| 8/2/2022|
| 8/4/2022|
|8/14/2022|
| 8/5/2022|
|8/12/2022|
|8/11/2022|
|8/10/2022|
| 8/3/2022|
|8/13/2022|
| 8/7/2022|
| 8/6/2022|
| 8/8/2022|
| 8/1/2022|
+---------+

In [ ]:
stock_data.select('Stock').distinct().show()

+-----+
|Stock|
+-----+
|  ROS|
|  VCB|
|  VNM|
+-----+

In [ ]:
ROS = stock_data.filter(stock_data['Stock'] == 'ROS')
ROS.show()

+---------+-----+-----+
|     Date|Stock|Price|
+---------+-----+-----+
| 8/1/2022|  ROS| 2970|
| 8/2/2022|  ROS| 3170|
| 8/3/2022|  ROS| 2950|
| 8/4/2022|  ROS| 2850|
| 8/5/2022|  ROS| 2800|
| 8/6/2022|  ROS| 2705|
| 8/7/2022|  ROS| 2705|
| 8/8/2022|  ROS| 2610|
| 8/9/2022|  ROS| 2480|
|8/10/2022|  ROS| 2600|
|8/11/2022|  ROS| 2510|
|8/12/2022|  ROS| 2510|
|8/13/2022|  ROS| 2510|
|8/14/2022|  ROS| 2510|
+---------+-----+-----+

In [ ]:
stock_data = stock_data.withColumn('Price', stock_data['Price'].cast('int'))
stock_data.groupBy('Date').pivot('Stock').sum('Price').show()

+---------+----+-----+-----+
|     Date| ROS|  VCB|  VNM|
+---------+----+-----+-----+
| 8/9/2022|2480|80800|72000|
| 8/4/2022|2850|82500|73300|
| 8/2/2022|3170|78900|73400|
|8/14/2022|2510|81500|71800|
| 8/5/2022|2800|82000|72600|
|8/12/2022|2510|81600|71900|
|8/11/2022|2510|81500|71100|
|8/10/2022|2600|80500|72500|
| 8/3/2022|2950|79500|73400|
|8/13/2022|2510|81800|71500|
| 8/7/2022|2705|82000|72400|
| 8/6/2022|2705|82000|72400|
| 8/8/2022|2610|82000|72200|
| 8/1/2022|2970|77000|73500|
+---------+----+-----+-----+